{% extends 'base.html' %}
{%block content%}
<button class="button1" style="margin-left: 30px;"><a href="{%url 'courses' %}"><i class='fas fa-arrow-left'></i> Natrag</a></button><br>
<div class="box" style="width:900px;">
<form method="POST">
    {{form}}
{% csrf_token %}
<input type="submit" value="Dodaj">
</form>
</div>
{%endblock%}