{% extends 'base.html' %}
{%block content%}
<button class="button1" style="margin-left:30px;"><a href="{% url 'add_course' %}"><i class='fas fa-plus'></i> Novi predmet</a></button><br>
<div class="box2" style="width: auto;">
<h2>Predmeti</h2>
<table>
    {% for course in all_courses %}
    <tr>
        <td>{{course.ime}}({{course.kod}})</td>
        <td><button class="button1"><a href="{% url 'course_details' %}?&course_id={{course.id}}">Detalji</a></button></td>
        <td><button class="button1"><a href="{% url 'course_edit' %}?course_id={{course.id}}">Uredi</a></button></td>
        <td><button class="button1"><a href="{% url 'course_delete' %}?course_id={{course.id}}">Izbriši</a></button></td>
    </tr>
    {% endfor %}
</table>
</div>

{%endblock%}