{% extends 'base.html' %}
{%block content%}
<button class="button1" style="margin-left: 30px;"><a href="{%url 'courses' %}"><i class='fas fa-arrow-left'></i> Natrag</a></button><br>
<div class="box" style="width: 800px;">
<h2>Detalji o predmetu</h2>
<table>
    <th>Ime</th><th>kod</th><th>ECTS</th><th>semestar (R)</th><th>semestar (I)</th><th>izborni</th><th>program</th>
    <tr>
        <td>{{course.ime}}</td>
        <td>{{course.kod}}</td>
        <td>{{course.bodovi}}</td>
        <td>{{course.sem_redovni}}</td>
        <td>{{course.sem_izvanredni}}</td>
        <td>{{course.izborni}}</td>
        <td>{{course.program}}</td>
        </tr>
</table>
</div>

{%endblock%}