{% extends 'base.html' %}
{%block content%}

{% if user.role == 'mentor' %}
<button class="button1" style="margin-left: 30px;"><a href="{%url 'students' %}"><i class='fas fa-arrow-left'></i> Natrag</a></button><br>
{% endif %}
<div class="box" style="width: 200px;">
    <table style="margin:20px;"><tr><td></td><td>
    <svg style="fill:gray;" xmlns="http://www.w3.org/2000/svg" width="130" height="130" viewBox="0 0 18 18"><path d="M9 8c1.66 0 2.99-1.34 2.99-3S10.66 2 9 2C7.34 2 6 3.34 6 5s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V16h14v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>								
    </td><td></td></tr></table><br><br>
<table>
<th>Student:</th><th>{{current_student.username}}</th>
<tr><td>Ime:</td><td>{{current_student.first_name}}</td></tr>
<tr><td>Prezime:</td><td>{{current_student.last_name}}</td></tr>
<tr><td>e-mail:</td><td>{{current_student.email}}</td></tr>
<tr><td>Status:</td><td>{{current_student.status}}</td></tr>
</table>
</div>
<div class="box2">
<h3>Predmeti</h3>
<table>
    {% for course_id, ime, bodovi, sem_red, sem_izv in unsigned_courses.values %}
    <tr>
        <td><button class="button1"><a href="{% url 'upis' %}?student_id={{current_student.id}}&course_id={{course_id}}">Upiši</a></button></td>
        {% if current_student.status == 'redovni' %}
        <td>{{ime}} ({{bodovi}} ECTS)</td><td>{{sem_red}}</td>
        {% endif %}
        {% if current_student.status == 'izvanredni' %}
        <td>{{ime}} ({{bodovi}} ECTS)</td><td>{{sem_izv}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>

{% if current_student.status == 'redovni' %}
<div class="box2">
    <h3>Upisni list</h3>
<table>
    {% for semestar in semestri_red %}
    <tr><td><strong>{{semestar}}. semestar</strong></td><td></td><td></td></tr>
    {% for course_id, ime, sem_red, sem_izv, status in signed_courses.values %}
    {% if sem_red == semestar %}
    <tr>
        <td>{{ime}}</td>
        {% if status == 'enrolled' %}
        <td><button class="button1"><a href="{% url 'ispis' %}?student_id={{current_student.id}}&course_id={{course_id}}">Ispiši</a></button></td>
        <td><button class="button1"><a href="{% url 'polozen' %}?student_id={{current_student.id}}&course_id={{course_id}}">Položi</a></button></td>
        {% endif %}
        {% if status == 'passed' %}
        <td></td>
        <td><button class="button1"><a href="{% url 'ponistavanje' %}?student_id={{current_student.id}}&course_id={{course_id}}">Poništi</a></button></td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}

    {% endfor %}
</table>
</div>
{% endif %}

{% if current_student.status == 'izvanredni' %}
<div class="box2">
    <h3>Upisani predmeti</h3>
<table>
    {% for semestar in semestri_izv %}
    <tr><td><strong>{{semestar}}. semestar</strong></td><td></td><td></td></tr>
    {% for course_id, ime, sem_red, sem_izv, status in signed_courses.values %}
    {% if sem_izv == semestar %}
    <tr>
        <td>{{ime}}</td>
        {% if status == 'enrolled' %}
        <td><button class="button1"><a href="{% url 'ispis' %}?student_id={{current_student.id}}&course_id={{course_id}}">Ispiši</a></button></td>
        <td><button class="button1"><a href="{% url 'polozen' %}?student_id={{current_student.id}}&course_id={{course_id}}">Položi</a></button></td>
        {% endif %}
        {% if status == 'passed' %}
        <td></td>
        <td><button class="button1"><a href="{% url 'ponistavanje' %}?student_id={{current_student.id}}&course_id={{course_id}}">Poništi prolaz</a></button></td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}

    {% endfor %}
</table>
</div>
{% endif %}

<div class="box" style="width: 200px;">
    <h3>Sažetak</h3>
    <table>
        <tr><td>Položeno ECTS:</td><td>{{ects_passed}}</td></tr>
        <tr><td>Upisano ECTS:</td><td>{{ects_enrolled}}</td></tr>
    </table>
</div>

{%endblock%}