<!-- templates/registration/login.html -->
<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
            font-family: Arial, Helvetica, sans-serif;
            }
    
            .nav {
            overflow: hidden;
            background-color: rgb(30, 127, 165);
            margin-bottom: 15px;
            }
    
            .nav a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            transition-duration: 0.4s;
            }
    
            .nav a:hover {
            background-color: white;
            color: black;
            }
            .box {
                width: 500px;
                margin: 20px;
                border: solid;
                border-radius: 20px;
                padding: 15px;
                border-color: rgb(105, 184, 216);
                float:left;
                box-shadow: 5px 10px 8px #777777;
                background-color: white;
            }
            .box2 {
                width: 400px;
                margin: 20px;
                border: solid;
                border-radius: 20px;
                padding: 15px;
                border-color: rgb(105, 184, 216);
                float:left;
                overflow: auto;
                height:500px;
                box-shadow: 5px 10px 8px #777777;
                background-color: white;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                }
    
            th, td {
            text-align: left;
            padding: 5px;
            }
    
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            .button1, .button1:visited {
                font-size: 16px;
                background-color: white; 
                color: black; 
                border: 2px solid rgb(105, 184, 216);
                padding: 5px;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }
    
            .button1:hover {
            background-color: rgb(30, 127, 165);
            color: white;
            }
    
            .button1 a{
                color:inherit;
                font-style: inherit;
                text-decoration: inherit;
            }
            .btn {
                background-color: rgb(165, 163, 163);
                border: none;
                color: white;
                padding: 5px 5px;
                font-size: 16px;
                cursor: pointer;
                height: 35px;
                width: 35px;
                transition-duration: 0.4s;
                }
            .btn a {
                color:inherit;
                font-size: 25px;
                text-decoration: none;
            }
            .btn:hover {
                background-color:rgb(30, 127, 165);
                }
        </style>
    </head>
    <body>
        <div class="nav">
            <a href="{%url 'login' %}">Prijavi se</a>
            <a href="{%url 'register' %}">Registriraj se</a>
        </div>
       <div class="box">
           <h2>Prijava studenata i mentora</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br><br><input class="button1" type="submit" value="Prijavi se">
        </form>
       </div>
    </body>
</html>