{% extends 'base.html' %}
{%block content%}
<div class="box">
<h2>Studenti</h2>
<table>
    <th>Korisničko ime</th><th>Status</th>
    {% for student in student_list %}
    <tr>
        <td>{{student.username}}</td>
        <td>{{student.status}}</td>
        <td><button class="button1"><a href="{% url 'details' student.id %}">Detalji</a></button></td>
        <td><button class="button1"><a href="{% url 'student_edit' student.id %}">Uredi</a></button></td>
    </tr>
    {% endfor %}
</table>
</div>

{%endblock%}